python-rtmidi
pillow
psutil
pystray
pyautogui
olefile
pycaw
comtypes
pathlib
pywin32
python-dateutil
SpeechRecognition
pyaudio
pyperclip
keyboard
winrt.windows.foundation
winrt.windows.media.control
winrt.windows.media
PySide6
qasync
pydub
wave
openai
yandex_tts_free
requests
ffmpeg-python
aiowebostv